<button mat-raised-button (click)="isLinear = true" id="toggle-linear">Enable linear mode</button>

<mat-vertical-stepper [linear]="isLinear">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Выясняем что надо</ng-template>
      <mat-form-field>
        <input matInput placeholder="Что надо сделать?" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext (click)="addAnswer()">Далее</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Выясняем целевое состояние</ng-template>
      <mat-form-field>
        <input matInput placeholder="Для чего надо" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Далее</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Входим в целевое состояние</ng-template>
      <mat-form-field>
        <input matInput placeholder="На чем надо сфокусироваться?" formControlName="thirdCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Далее</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
</mat-vertical-stepper>